* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  border: 0;
}
body {
  padding: 0 2em;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
  font-weight: 400;
  padding: 0;
}
code, pre {
  font-family: monospace;
  font-size: 1.3em;
}
pre {
  margin: 0;
}
section {
  max-width: 720px;
  padding: 20px;
}
code {
  white-space: pre;
}

code.example {
  display: block;
  background-color: var(--code-background);
  margin: 20px 0;
  padding: 20px;
}
